<div class="container margin-top">
  <h1 class="title-admin">Gestion des contenus</h1>
  <hr>
    <div>
      <%= link_to 'Ajouter un contenu', new_content_path, class:'btn btn-primary' %>
    </div>
    <% @content.each do |c| %>
      <div class="row admin-row">
        <div class="col-1">
          <small><%= c.created_at.strftime("%d.%m.%Y") %></small>
        </div>
        <div class="col-4">
          <%= c.title %>
        </div>
        <div class="col-2">
          <%= c.status %>
        </div>
        <div class="col-2">
          <%= c.tags %>
        </div>
      <div class="col-1">
        <%= link_to edit_content_path(c.id), title:"Modifier" do %>
          <i class="fas fa-edit fa-fw"></i>
        <% end %>
      </div>
      <div class="col-1">
        <%= link_to "#", title:"Supprimer" do %>
          <i class="fas fa-trash-alt fa-fw"></i>
        <% end %>
      </div>
      </div>
    <% end %>
</div>
