<div class="container">
  <h1>Créer un nouveau contenu</h1>
  <%= simple_form_for @content, url: contents_path do |c| %>
  <%= c.input :title, label: 'Titre' %>
  <%= c.input :status, label: 'Statut', collection: ['draft', 'published', 'archived'], default:'draft' %>
  <%= c.input :teaser, label: 'Teaser' %>
  <%= c.input :body, label:'Corps de texte' %>
  <%= c.input :links, label: 'Liens' %>
  <%= c.input :tags, label: 'Tags', collection: ['home', 'blog', 'unreferenced'] %>
  <%= c.input :image, as: :file, label: 'Image' %>
  <%= c.input :order, as: :integer, label: "Ordre en page d'accueil" %>
  <%= c.submit "Créer" %>
  <% end %>
</div>
